@import url('https://fonts.googleapis.com/css?family=Bad+Script:100,200,300,400,500,600,700|Open+Sans+Condensed:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans Condensed", sans-serif;
}

.active {
    text-decoration: underline;
}

/*--------------------------- Navbar -----*/

.navbar {
    background-color: rgb(86, 172, 245);
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.logo {
    font-family: "Bad Script", sans-serif;
    font-size: 27px;
}

.navbar .navbar-nav .nav-item {
    font-family: "Bad Script", sans-serif;
    font-size: 24px;
}

/*--------------------------- Footer -----*/

.container-footer-other {
    padding-top: 15px;
    color: #000;
}

footer div {
    text-align: center;
}

.footer-text {
    font-family: "Bad Script", sans-serif;
    font-size: 20px;
}

.social-t {
    font-size: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*----------------------------- Home page */

.homepage {
    background-image: url('../images/index/bridge.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
}



/*--------------------------- Hover -----*/

.navbar .navbar-brand:hover {
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    text-decoration: underline;
}

.social-links li a i:hover {
    background: #fff;
    color: #000;
}